.title {
  color: yellow;
  font-weight: bold;
  font-size: 40px;
}

.heading {
  font-weight: bold;
  margin-left: 2%;
}

.headingcenter {
  font-weight: bold;
  text-align: center;
}

.redtext {
  color: darkred;
  font-weight: bold;
  margin-left: 2%;
}

.textfield {
  margin-left: 2%;
}

.button {
  margin-left: 2%;
}
.buttoncenter {
  display: block;
  margin: auto;
}

h4 {
  margin-left: 2%;
}
